<div>
    <clr-checkbox-container>
    <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="health" required value="health"/>
        <label>Health and Lifestyle</label>
    </clr-checkbox-wrapper>
    <br>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="motivation" required value="motivation"/>
      <label>Motivation</label>
    </clr-checkbox-wrapper>
    <br>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="technology" required value="technology"/>
      <label>VMware Technology</label>
    </clr-checkbox-wrapper>
    <br>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="culture" required value="culture"/>
      <label>Work Culture and Events</label>
    </clr-checkbox-wrapper>
    <br>
    <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="others" required value="others"/>
        <label>Others</label>
    </clr-checkbox-wrapper>
    <br>
  </clr-checkbox-container>
</div>