<div class="main-container">
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <a href="..." class="nav-link active">
                   Main
                </a>
                <a href="..." class="nav-link">
                    Tags
                </a>
                <a href="..." class="nav-link">
                    Users
                </a>
                <a href="..." class="nav-link">
                   Leaderboard
                </a>
                <a routerLink="/aboutus" class="nav-link">
                   About Us
                 </a>
            </section>
        </nav>
        <div class="content-area">
            <div class="boundary">
                <div  class="heading">
                <h3>Submit your question:</h3><br>
                <ul>
                    <li>Try to be specific and precise in asking a question.</li>
                    <li>Include details about your goal you wish to fulfill in the answer.</li>
                    <li>Choose the appropriate tags to which the question may belong.</li>
                </ul>
                </div>
            <div class="questionForm">
                
                <form>
                    <br>
                <label class="labels" style="margin-left: 20px;">Title</label>
                <input clrInput type="text" name="title" style="margin-left: 20px; column-span:400px" />
                <br><br>
            
                <label class="labels" style="margin-left: 20px;">Body</label>
                <textarea clrTextarea name="description" required style="margin-left: 20px;" class="body">
                </textarea>
                <br><br>
            
                <label class="labels" style="margin-left: 20px;">Tags</label>
                <br>
                <a href="..." class="label label-purple clickable" style="margin-left: 20px;">
                   Angular
                </a>
                <a href="..." class="label label-blue clickable"style="margin-left: 20px;">
                    C#
                </a>
                <a href="..." class="label label-orange clickable" style="margin-left: 20px;">
                    Docker
                </a>
                <a href="..." class="label label-light-blue clickable" style="margin-left: 20px;">
                    NodeJs
                </a>
                <a href="..." class="label clickable" style="margin-left: 20px;">
                    Database Systems
                </a><br><br>
                <button class="btn btn-primary" style="margin-left: 20px;"
                >Submit</button>
                </form>
                </div>
        </div>
    </div>
</div>

</div>