
<div>
    <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="angular" required value="angular"/>
      <label>Angular</label>
    </clr-checkbox-wrapper>
    <br>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="C#" required value="C#"/>
      <label>C#</label>
    </clr-checkbox-wrapper>
    <br>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox name="database" required value="database"/>
      <label>Data Base Systems</label>
  </clr-checkbox-wrapper>
  <br>
  <clr-checkbox-wrapper>
    <input type="checkbox" clrCheckbox name="docker" required value="docker"/>
    <label>Docker</label>
</clr-checkbox-wrapper>
<br>
    <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="Nodejs" required value="Nodejs"/>
        <label>Nodejs</label>
    </clr-checkbox-wrapper>
    <br>
  <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="others" required value="others"/>
        <label>Others</label>
    </clr-checkbox-wrapper>
    <br>
  </clr-checkbox-container>
</div>